/*CSS to handle the HUD*/

body { margin: 0; overflow: hidden; background: #000; font-family: 'Courier New', 'Courier New', Courier, monospace; }
#ui-layer {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 100;
    color: #00F2FF;
    font-family: 'Share Tech Mono', monospace;
    letter-spacing: 2px;
}

.stat-container { margin-bottom: 20px; }

label {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
    text-shadow: 0 0 8px #00F2FF;
}

.bar-bg {
    width: 200px;
    height: 10px;
    background: rgba(0, 40, 60, 0.5);
    border: 1px solid #00F2FF;
    box-shadow: 0 0 10px rgba(0, 242, 255, 0.2);
}

#health-bar {
    height: 100%;
    background: #00F2FF;
    box-shadow: 0 0 15px #00F2FF;
    transition: width 0.3s ease;
}

#ammo-segments {
    display: flex;
    gap: 4px;
}

.segment {
    width: 15px;
    height: 15px;
    border: 1px solid #00F2FF;
    background: transparent;
}

.segment.active {
    background: #00F2FF;
    box-shadow: 0 0 10px #00F2FF;
}

#crosshair {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    pointer-events: none; /*Don't block mouse clicks*/
}

.line {
    position: absolute;
    background: rgba(0, 255, 255, 0.7);
    box-shadow: 0 0 5px #00FFFF;
}

.vertical {
    width: 2px;
    height: 20px;
    left: 19px;
    top: 0;
}

.horizontal {
    width: 20px;
    height: 2px;
    left: 0;
    top: 19px;
}

.vertical:nth-child(1) { top: -10px; }
.horizontal:nth-child(2) { left: -10px }

.dot {
    position: absolute;
    width: 4px;
    height: 4px;
    background: #00ffff;
    border-radius: 50%;
    top: 18px;
    left: 18px;
    box-shadow: 0 0 8px #fff;
}

#crosshair.hit {
    transform: translate(-50%, -50%) scale(1.2);
    filter: brightness(2) hue-rotate(90deg); /* Turns it green/yellow briefly */
    transition: transform 0.1s;
}

body::after {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: radial-gradient(circle, transparent 40%, black 110%);
    pointer-events: none;
}